*{
    font-family:'Times New Roman';
    font-weight: bold;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    height: 100vh;
}
#form{
    display: flex;
    background-color: lightgray;
    border: 5px solid black;
    padding: 5px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    gap: 5px;
}
#login{
    border: 2px solid black;
    padding: 5px;
    border-radius: 25px;
}
#pass{
    border: 2px solid black;
    padding: 5px;
    border-radius: 25px;
}
#guziklog{
        border: 2px solid black;
        padding: 5px;
        border-radius: 25px;
}
#login:focus{
    background-color: dimgrey;
    border: 2px solid black;
    padding: 5px;
    border-radius: 25px;
}
#pass:focus{
    background-color: dimgrey;
    border: 2px solid black;
    padding: 5px;
    border-radius: 25px;
}
#guziklog:focus{
    background-color: dimgrey;
    border: 2px solid black;
    padding: 5px;
    border-radius: 25px;
}
#login:hover{
    background-color: black;
    border: 2px solid black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 25px;
}
#pass:hover{
    background-color: black;
    border: 2px solid black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 25px;
}
#guziklog:hover{
    background-color: black;
    border: 2px solid black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 25px;
}